.blog-grid {
  display: grid;
  margin: 3rem auto;
  width: 65%;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem 2rem;
}

.blog-grid a {
  text-decoration: none;
}

.blog-article {
  height: 430px;
  background-color: #f9f9f9;
  overflow: hidden;
}

.big {
  grid-column: 1 / span 2;
}

.blog-article img {
  transition: transform 0.25s, opacity 0.5s;
}

.blog-article a:hover img {
  transform: scale(1.1) translateZ(0);
}

.preview-article-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #000000;
  margin: 2rem;
}

.preview-article-title span {
  min-height: 80px;
  display: block;
}
