* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

h2 {
  font-family: "Satisfy";
  color: #e4664d;
  text-align: center;
  font-size: 2.5rem;
}
html {
  scroll-padding-top: 5.8rem;
}

p,
li,
label {
  font-size: 1.2rem;
  text-align: left;
}
ul {
  list-style: none;
}

section {
  margin: 2rem 0;
}

.section-one-block {
  width: 900px;
  margin: 0 auto;
}

.section-block {
  width: 900px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-background {
  background-color: #f9f9f9;
  padding: 1rem 0;
}

header {
  position: sticky;
  top: 0;
}

.navigation {
  background-color: #69c0b0;
  width: 100%;
  height: 5.8rem;
}

.navigation-menu {
  display: flex;
  align-items: center;
  margin: auto;
  width: 1265px;
}
.logo {
  display: flex;
  width: 300px;
  padding: 1rem;
}

.navigation ul {
  margin: 0 auto;
  padding: 0;
  display: flex;
  width: 800px;
  list-style: none;
  justify-content: space-between;
}

.navigation li {
  padding: 1rem;
}

.navigation a {
  text-transform: uppercase;
  font-size: 1.1rem;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
}

.navigation a:hover,
.navigation li:hover {
  background-color: #e4664d;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  position: absolute;
  display: none;
  z-index: 1;
  background-color: #60afa1;
}

.dropdown:hover .dropdown-content {
  display: flex;
}

.dropdown-content a {
  color: #ffffff;
  font-size: 1rem;
  display: block;
  padding: 0.5em;
  margin: 0.5rem;
}

.carret {
  display: inline-block;
  color: #ffffff;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 6px solid;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
}

.dropdown-content a:hover {
  color: #ffffff;
}

.read-more {
  padding: 0.5rem;
  text-decoration: none;
  border: #69c0b0 2px solid;
  color: #69c0b0;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: bold;
}

.read-more:hover {
  border: none;
  border: #69c0b0 2px solid;
  background-color: #69c0b0;
  color: #ffffff;
}

.read-more-small {
  padding: 0.3rem;
  text-decoration: none;
  border: #69c0b0 2px solid;
  color: #69c0b0;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: bold;
  margin: 1rem;
}

.read-more-small:hover {
  border: none;
  border: #69c0b0 2px solid;
  background-color: #69c0b0;
  color: #ffffff;
}

.preview-article {
  display: flex;
  flex-direction: column;
  background-color: #f9f9f9;
  justify-content: center;
  align-items: center;
  width: 250px;
  margin: 1rem;
  height: 230px;
}

.preview-article h3 {
  font-size: 1rem;
  text-align: center;
  margin: 1rem;
  min-height: 2rem;
  display: block;
}

.preview-article img {
  width: 200px;
  height: 100px;
  object-fit: cover;
  object-position: center;
}

footer {
  background-color: #69c0b0;
  color: #ffffff;
  width: 100%;
  bottom: 0;
}
footer h2 {
  color: #ffffff;
  padding-top: 2rem;
  margin: 0;
}
.footer-block {
  display: flex;
  justify-content: space-between;
}

.footer-block p,
.footer-block label {
  font-size: 1rem;
}
.footer-text,
.sign-up {
  width: 45%;
  display: flex;
  flex-direction: column;
}

.icons {
  display: flex;
  width: 50%;
  justify-content: space-around;
  margin: 0 auto 1rem auto;
}

.icons svg path {
  fill: #c6f1e9;
}
.icons svg:hover path {
  fill: #ffffff;
}

form h3 {
  font-family: "Satisfy";
  font-size: 1.8rem;
  margin: 0 auto;
}

.sign-up input[type="email"] {
  border: none;
  line-height: 1.5rem;
  margin: 0 1rem;
  width: 250px;
  font-size: 0.8rem;
}
.sign-up input[type="email"]:focus {
  background-color: #c6f1e9;
  outline: none;
}

.sign-up button {
  padding: 0.7rem;
  text-decoration: none;
  background-color: #e4664d;
  color: #ffffff;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.sign-up button:hover {
  background-color: #ffffff;
  color: #e4664d;
}

#Gallery {
  margin-bottom: 0;
}
