* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

h2 {
  font-family: "Satisfy";
  color: #e4664d;
  text-align: center;
  font-size: 2.5rem;
  margin: 10px auto;
}

p,
li,
input,
label {
  font-size: 1.2rem;
  text-align: left;
}
section {
  margin: 3rem 0;
}

ul {
  list-style: none;
}

header {
  position: sticky;
  top: 0;
}

.navigation {
  background-color: #69c0b0;
  width: 100%;
  height: 5.8rem;
}

.navigation-menu {
  display: flex;
  align-items: center;
  margin: auto;
  width: 1265px;
}
.logo {
  display: flex;
  width: 300px;
  padding: 1rem;
}

.navigation ul {
  margin: 0 auto;
  padding: 0;
  display: flex;
  width: 800px;
  list-style: none;
  justify-content: space-between;
}

.navigation li {
  padding: 1rem;
}

.navigation a {
  text-transform: uppercase;
  font-size: 1.1rem;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
}

.navigation a:hover,
.navigation li:hover {
  background-color: #e4664d;
}

.footer ul {
  list-style: none;
}

footer {
  background-color: #69c0b0;
  width: 100%;
  bottom: 0;
  display: flex;
  /* flex-direction: column; */
  /* align-items: center; */
}
.footer-block {
  display: flex;
  align-items: center;
  margin: auto;
  width: 1256px;
}

.footer-text {
  width: 40%;
}

footer h2 {
  color: white;
}

.footer li {
  text-transform: uppercase;
  font-size: 1.1rem;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
}
