* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

h2 {
  font-family: "Satisfy";
  color: #e4664d;
  text-align: center;
  font-size: 2.5rem;
}

article h3 {
  text-align: center;
  margin: 2rem;
}

.mt-1 {
  margin-top: 1rem;
}

html {
  scroll-padding-top: 7.8rem;
}

p,
li,
label {
  font-size: 1.2rem;
  text-align: left;
}

ul {
  list-style: none;
  padding-inline-start: 0;
}

section {
  margin: 2rem 0;
}

.content-block {
  width: 65%;
  margin: 0 auto;
}

.flex-block {
  display: flex;
  align-items: center;
  justify-content: center;
}

.read-more-center {
  text-align: center;
  display: block;
  margin-bottom: 1rem;
}

.section-background {
  background-color: #f9f9f9;
  padding: 1rem 0;
}

.section-last {
  margin-bottom: 0;
  padding-bottom: 2rem;
}

.mobile-only {
  display: none;
}

@media only screen and (max-width: 480px) {
  section {
    margin: 1rem auto;
  }

  .content-block {
    width: 80%;
  }

  .flex-block {
    flex-wrap: wrap;
  }

  .flex-block img {
    display: block;
    margin: 0 auto;
    width: 100%;
  }

  .mobile-wrap-reverse {
    flex-wrap: wrap-reverse;
  }

  h2 {
    width: 90%;
    margin: 2rem auto;
  }
  article h3 {
    width: 90%;
    text-align: center;
    margin: 1rem auto;
  }

  .mobile-hidden {
    display: none;
  }

  .mobile-only {
    display: block;
    margin: 0 auto;
  }
}

header {
  position: sticky;
  top: 0;
  z-index: 1;
}

.navigation {
  background-color: #69c0b0;
  width: 100%;
  height: 5.8rem;
}

.navigation-menu {
  display: flex;
  align-items: center;
  margin: auto;
  width: 1265px;
}
.logo {
  display: flex;
  width: 300px;
  padding: 1rem;
}

.navigation ul {
  margin: 0 auto;
  padding: 0;
  display: flex;
  width: 65%;
  list-style: none;
  justify-content: space-between;
}

.navigation li {
  padding: 1rem;
}

.navigation a {
  text-transform: uppercase;
  font-size: 1.1rem;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
}

.navigation a:hover,
.navigation li:hover,
.navigation .dropdown:hover {
  background-color: #e4664d;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  position: absolute;
  display: none;
  z-index: 1;
  background-color: #55a899;
  width: 151px;
}

.dropdown:hover .dropdown-content {
  display: flex;
}

.dropdown-content a {
  color: #ffffff;
  font-size: 1rem;
  display: block;
  padding: 0.5em;
  margin: 0.5rem;
}

.carret {
  display: inline-block;
  color: #ffffff;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 6px solid;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
}

.dropdown-content a:hover {
  color: #ffffff;
}

.read-more {
  font-size: 1.2rem;
  font-weight: bold;
  color: #000000;
  text-decoration: none;
}
.read-more:hover {
  text-decoration: underline #69c0b0 0.3rem;
}

.read-more-small {
  font-size: 0.9rem;
  display: block;
  margin: 0.5rem auto;
  font-weight: bold;
  color: #000000;
  text-decoration: none;
  width: 200px;
}
.read-more-small:hover {
  text-decoration: underline #69c0b0 0.2rem;
}

.preview-article {
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  justify-content: center;
  align-items: center;

  width: 30%;
  margin: 1rem;
  height: 230px;
}

.preview-article h3 {
  font-size: 1rem;
  text-align: center;
  margin: 1rem;
  min-height: 2rem;
  display: block;
}

.preview-article img {
  width: 200px;
  transition: transform 0.25s, opacity 0.5s;
}

.preview-article .over {
  overflow: hidden;
}

.preview-article img:hover {
  transform: scale(1.1) translateZ(0);
}

@media only screen and (max-width: 480px) {
  .preview-article {
    width: 85%;
  }

  .preview-block-article h2 {
    width: 72%;
  }
}

.travel-rating {
  display: grid;
  grid-template: 1fr / repeat(4, 1fr);
  width: 75%;
  margin: 0 auto;
  justify-items: center;
}

.rating {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 2px 2px 8px 0 #e7e7e7;
}

.rating p {
  font-size: 0.9rem;
  width: 70%;
  min-height: 50px;
  margin: 1rem auto;
}

@media only screen and (max-width: 480px) {
  .travel-rating {
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    width: 80%;
    justify-content: center;
    gap: 1rem;
  }

  .rating {
    width: 100%;
    justify-content: center;
  }

  .rating h3 {
    font-size: 0.9rem;
  }

  .rating img {
    margin: 0 auto 1rem auto;
  }
}

.interesting-facts {
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(2, 1fr);
  width: 65%;
  margin: 2rem auto;
  gap: 2rem;
}

.fact {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 2px 2px 8px 0 #e7e7e7;
  display: flex;
  flex-direction: column;
  align-items: left;
}

.fact-title {
  display: flex;
  margin: 2rem auto 0 auto;
  width: 80%;
  gap: 1rem;
  min-height: 80px;
}

.fact p {
  width: 80%;
  margin: 1rem auto 2rem auto;
}

@media only screen and (max-width: 480px) {
  .interesting-facts {
    grid-template: repeat(6, 1fr) / minmax(300px, 350px);
    gap: 1rem;
    width: 80%;
    justify-content: center;
  }
}

footer {
  background-color: #69c0b0;
  color: #ffffff;
  width: 100%;
  padding-bottom: 1rem;
}

footer h2 {
  color: #ffffff;
  padding-top: 2rem;
  margin: 0;
}
.footer-block {
  justify-content: space-between;
}

.footer-block p,
.footer-block label {
  font-size: 1rem;
}
.footer-text,
.sign-up {
  width: 45%;
  display: flex;
  flex-direction: column;
}

.icons {
  display: flex;
  width: 50%;
  justify-content: space-around;
  margin: 0 auto 1rem auto;
}

.icons svg path {
  fill: #c6f1e9;
}
.icons svg:hover path {
  fill: #ffffff;
}

form h3 {
  font-family: "Open Sans", sans-serif;
  font-size: 1.2rem;
  margin: 0 auto;
}

.sign-up input[type="email"] {
  border: none;
  line-height: 1.5rem;
  margin: 0 1rem;
  width: 250px;
  font-size: 0.8rem;
}
.sign-up input[type="email"]:focus {
  background-color: #c6f1e9;
  outline: none;
}

.sign-up button {
  padding: 0.7rem;
  text-decoration: none;
  background-color: #e4664d;
  color: #ffffff;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.sign-up button:hover {
  background-color: #ffffff;
  color: #e4664d;
}

@media only screen and (max-width: 480px) {
  .footer-block {
    min-width: 300px;
    width: 80%;
    flex-wrap: wrap-reverse;
  }

  .sign-up {
    flex-wrap: wrap;
    width: 100%;
  }

  .footer-text {
    flex-wrap: wrap;
    width: 100%;
    margin-top: 1rem;
  }

  form {
    margin: 0 auto;
  }

  footer h2 {
    margin: 0 auto;
  }

  form h3 {
    text-align: center;

    padding-top: 1rem;
  }

  .sign-up input[type="email"] {
    margin: 0;
  }
  .sign-up button {
    margin: 0 auto;
    display: block;
  }
}
