#banner {
  background-image: url("../images/Banner.png");
  background-size: cover;
  width: 100%;
  height: 400px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#banner h1 {
  color: #ffffff;
  font-size: 4rem;
  text-align: center;
  width: 28rem;
  font-family: "Satisfy";
}

.button-banner {
  background-color: #e4664d;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.3rem;
  text-align: center;
  padding: 1rem;
  text-decoration: none;
}

.button-banner:has(a:hover) {
  background-color: #ffffff;
}

.button-banner a {
  text-decoration: none;
  color: #ffffff;
}

.button-banner a:hover {
  color: #e4664d;
  background-color: #ffffff;
}

.section-block {
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.read-more {
  padding: 0.5rem;
  text-decoration: none;
  border: #69c0b0 2px solid;
  color: #69c0b0;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: bold;
}

.read-more:hover {
  border: none;
  border: #69c0b0 2px solid;
  background-color: #69c0b0;
  color: #ffffff;
}

/* Start to style Block Countries */

.countries-block {
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(3, 1fr);
  gap: 2rem 2rem;
  margin: 2rem auto;
}
.country-card {
  display: flex;
  flex-direction: column;
  background-color: #f9f9f9;
  align-items: center;
  padding: 2rem 0;
}

.country-card p {
  width: 220px;
  min-height: 120px;
  margin: 1rem auto;
  font-size: 0.9rem;
}

figure {
  display: inline-block;
  width: 33%;
  margin: 0 auto;
  text-align: center;
}

figcaption {
  padding: 1rem;
  font-size: 0.9rem;
  font-weight: bold;
}
/* Start style About me page block with the articles*/
.preview-article {
  display: flex;
  flex-direction: column;
  background-color: #f9f9f9;
  justify-content: center;
  align-items: center;
  width: 250px;
  margin: 1rem;
  height: 230px;
}

.preview-article h3 {
  font-size: 1rem;
  text-align: center;
  margin: 1rem;
  min-height: 2rem;
  display: block;
}

.preview-article img {
  width: 200px;
  height: 100px;
  object-fit: cover;
  object-position: center;
}
.read-more-small {
  padding: 0.3rem;
  text-decoration: none;
  border: #69c0b0 2px solid;
  color: #69c0b0;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: bold;
  margin: 1rem;
}

.read-more-small:hover {
  border: none;
  border: #69c0b0 2px solid;
  background-color: #69c0b0;
  color: #ffffff;
}
/* End style About me page block with the articles*/
