* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

h2 {
  font-family: "Satisfy";
  color: #e4664d;
  text-align: center;
  font-size: 2.5rem;
  margin: 10px auto;
}

p,
li {
  font-size: 1.2rem;
  text-align: left;
}

.navigation {
  background-color: #69c0b0;
  width: 100%;
  top: 0;
  position: fixed;
  height: 5.8rem;
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  width: 300px;
  padding: 1rem;
}

.navigation ul {
  margin: 0 auto;
  padding: 0;
  display: flex;
  width: 60%;
  list-style: none;
  justify-content: space-between;
}

.navigation li {
  padding: 1rem;
}

.navigation a {
  text-transform: uppercase;
  font-size: 1.1rem;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
}

.navigation a:hover,
.navigation li:hover {
  background-color: #e4664d;
}

#banner {
  background-image: url("images/Banner.png");
  background-size: cover;
  width: 100%;
  height: 508px;
  margin: 5.8rem 0;
  text-align: center;
}

#banner .content h1 {
  color: #ffffff;
  font-size: 5.5rem;
  text-align: center;
  width: 28rem;
  padding-top: 3.75rem;
  font-family: "Satisfy";
  margin: 1rem auto;
}

.button-banner {
  background-color: #e4664d;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.3rem;
  width: 15rem;
  text-align: center;

  padding: 1rem;
  margin: 1.5rem auto 0 auto;
}

.button-banner:has(a:hover) {
  background-color: #ffffff;
}

.button-banner a {
  text-decoration: none;
  color: #ffffff;
}

.button-banner a:hover {
  color: #e4664d;
  background-color: #ffffff;
}

.about-me {
  width: 70%;
  margin: 2.4rem auto 1.2rem auto;
  text-align: center;
}

.about-me-inner {
  display: inline-block;
  width: 50%;
  margin: auto;
  vertical-align: middle;
}

.about-me-photo {
  display: inline-block;
  width: 40%;
  margin: 0.6rem auto;
  vertical-align: middle;
}

.section-background {
  background-color: #f9f9f9;
  margin: 1.2rem 0;
  padding: 1.2rem 0;
}

.section-block {
  width: 70%;
  margin: auto;
}

.section-inner {
  width: 90%;
  margin: auto;
}

.countries-block {
  margin: 1.9rem auto 0 auto;
  width: 100%;
  text-align: center;
}
.country-card {
  display: inline-block;
  width: 30%;
  background-color: #f9f9f9;
  margin: 0.9rem;
}

.country-card img {
  display: block;
  width: 100%;
  margin: 1.2rem auto;
}

.country-card p {
  width: 80%;
  margin: 0.9rem auto 1.2rem auto;
  text-align: center;
  font-size: 0.9rem;
}

.country-card a {
  display: block;
  padding: 0.7rem;
  margin: 0.9rem auto 1.9rem auto;
  text-align: center;
  width: 12rem;
  text-decoration: none;

  background-color: #69c0b0;
  color: #ffffff;
  border: solid 1px;
  font-size: 1.2rem;
}

.country-card a:hover {
  background-color: #e4664d;
}

figure {
  display: inline-block;
  width: 33%;
  margin: 0 auto;
  text-align: center;
}

figcaption {
  padding: 1rem;
  font-size: 0.9rem;
  font-weight: bold;
}

.button {
  display: block;
  padding: 1rem;
  margin: 0.8rem auto 1.9rem auto;
  text-align: center;
  width: 15rem;
  text-decoration: none;
  background-color: #e4664d;
  color: white;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: bold;
}

.button:hover {
  background-color: #69c0b0;
}

.footer ul {
  list-style: none;
}

.hi-switzerland {
  width: 70%;
  margin: 2.4rem auto 1.2rem auto;
  text-align: center;
}
.hi-switzerland-inner {
  display: inline-block;
  width: 40%;
  margin: auto;
  vertical-align: middle;
}

.hi-switzerland-photo {
  display: inline-block;
  width: 50%;
  margin: 0.8rem auto;
  vertical-align: middle;
}

.photo {
  display: inline-block;
  width: 100%;
}

.section-inner-photos figure {
  display: inline-block;
  width: 48%;
  margin: 1.2rem auto 0.8rem auto;
  text-align: center;
}

.food-switzerland {
  width: 100%;
  margin: auto;
}
.food-switzerland-inner {
  width: 48%;
  display: inline-block;

  vertical-align: top;
}
.fondue-foto {
  display: inline-block;
  width: 50%;

  text-align: center;
}

/* .navigation ul {
  display: flex;
  justify-content: space-between;
  padding-right: 100px;
  padding-left: 100px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0;
} */
